form{
    background-color: rgba(255,255,255,1);
    width: 500px;
    height:650px;
    margin:0 auto ;
    position:absolute;
    top:10%;
    right:0%;
    bottom:0%;
    left:0%;
    border-radius:35px;

}
input{
   
    display:block;
    margin-left:100px;
    margin-bottom:0px;
    padding:8px;
    width:50%;
    border:1px solid rgba(60, 60, 65, 1);
    border-radius:10px

}
label{
    position:absolute;
    left:105px;
    
   
}

h1{
   text-align:center;
}
body{
    background-color: #e6e6e6ff;
}